asgiref==3.5.2
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distro==1.4.0
Django==4.1.1
idna==2.8
Janome==0.4.2
PyGObject==3.36.0
requests==2.22.0
six==1.14.0
sqlparse==0.4.2
ssh-import-id==5.10
urllib3==1.25.8
